
<% 
    checkBoxHelper = (name, slug, currentSlug, id) => {
        let xhtmlStatus = '';
        let link = `${name}`
        let checked = '';
        if (slug === currentSlug) checked = `checked="checked"`
        xhtmlStatus = `<div class="dropdown-item"><input id="${name}" onchange="changeCheckBox('${link}')" value="${id}" type="checkbox" class="filterLoai" ${checked}>${name}</div>`

        return xhtmlStatus;

    }    
%>


